.sidebar {
  flex: 1;
  /* background: #cae9f3; */
  background-color: #ffffff;
  border-radius: 10px;

  height: calc(100vh);
  position: sticky;
  top: 0;
}
.sidebarWrapper {
  color: #555;
  padding: 20px;
}
.sidebarMeun {
  margin-bottom: 10px;
}
.sidebarTitle {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.332);
}
.sidebarList {
  list-style: none;
  padding: 5px;
}
.sidebarbarItem {
  padding: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 10px;
}
.sidebarbarItem.active,
.sidebarbarItem:hover {
  background-color: gray;
  /* background-color: #8fd4ee; */
}
.sidebar-icons {
  margin-right: 5px;
  font-size: 20px !important;
}
.Link {
  text-decoration: none;
  color: #555;
}
