.Patient {
  flex: 4;
  /* background-color: rgba(121, 104, 59, 0.248); */
}

.patientTable {
  text-align: left;
}
.icon-text {
  display: flex;
  align-items: center;
}

.icon-text i {
  margin-right: 5px;
}

.patientProfile > h3 {
  font-size: 20px;
  color: teal;
}

.patientImg {
  width: 32px;
  height: 32px;
  object-fit: cover;
  margin-left: 5px;
}
.patientTabelTd {
  display: flex;
}
/* .tableTd {
  display: flex;
  align-items: center;
} */

.patientDeleteBtn {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.PatientIcons {
  font-size: 20px;
  margin-right: 10px;
  cursor: pointer;
}

.patientDeleteBtn {
  color: red;
}
.patientRecord {
  /* border: transparent; */
  margin-bottom: 10px;
  background-color: teal;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  margin-right: 10px;
}
.patientProfile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.crateAdmission {
  width: 80px;
  border: none;
  padding: 5px;
  background-color: teal;
  border-radius: 5px;
  cursor: pointer;
  color: white;
}
.patientButton {
  display: flex;
  justify-content: space-evenly;
}
.btnPatient {
  cursor: pointer;
  margin: 2px;
  margin-top: 10px;
  width: 100px;
  border-color: gray;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  font-size: 17px;
  line-height: 1.17648;
  font-weight: 400;
  letter-spacing: -0.022em;
  font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;
  min-width: 28px;
  padding: 8px 16px;
  border-radius: 980px;
  background: #e8e8ed;
  color: #000;
  --sk-button-margin-horizontal: 14px;
  --sk-button-margin-vertical: 14px;
}
.SearchInput {
  width: 300px;
  border-radius: 20px;
  border-color: rgb(222, 210, 210);
  padding: 10px;
}
